#e1_2 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:595px;
	height:842px;
	position:absolute;
}
#e8_0 { 
	opacity:1;
	width:236px;
	height:842px;
	position:absolute;
	left:1px;
	top:0px;
	background-image:url(images/erectangle_5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e2_5 { 
	opacity:1;
	width:17px;
	height:17px;
	position:absolute;
	left:40px;
	top:410px;
	background-image:url(images/egroup_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e2_6 { 
	opacity:1;
	width:19px;
	height:12px;
	position:absolute;
	left:37px;
	top:441px;
	background-image:url(images/egroup__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e2_7 { 
	opacity:1;
	width:15px;
	height:20px;
	position:absolute;
	left:39px;
	top:465px;
	background-image:url(images/egroup__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e2_8 { 
	opacity:1;
	width:19px;
	height:19px;
	position:absolute;
	left:38px;
	top:495px;
	background-image:url(images/egroup__3__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e1_33 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72px;
	height:14px;
	position:absolute;
	left:39px;
	top:567px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e1_34 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72px;
	height:14px;
	position:absolute;
	left:39px;
	top:585px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e1_35 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72px;
	height:14px;
	position:absolute;
	left:39px;
	top:603px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e1_36 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72px;
	height:14px;
	position:absolute;
	left:39px;
	top:621px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e1_37 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72px;
	height:14px;
	position:absolute;
	left:39px;
	top:638px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e1_38 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72px;
	height:14px;
	position:absolute;
	left:39px;
	top:656px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e1_39 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72px;
	height:14px;
	position:absolute;
	left:39px;
	top:674px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_4 { 
	opacity:1;
	width:105px;
	height:114px;
	position:absolute;
	left:97px;
	top:567px;
	background-image:url(images/eframe_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e2_3 { 
	opacity:1;
	width:53px;
	height:748px;
	position:absolute;
	left:254px;
	top:70px;
	background-image:url(images/eimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

svg{
  background:url('https://farm9.staticflickr.com/8760/17195790401_ceeeafcddb_o.jpg');
  background-size:cover;
  width:40vmin; height:auto;
  display:block;
  margin:30vmin auto;
}
svg:hover text{
  transition:font-size .4s ease-in;
  font-size: 300px;
}
#e2_10 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161px;
	height:15px;
	position:absolute;
	left:37px;
	top:389px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_11 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:117px;
	height:13px;
	position:absolute;
	left:74px;
	top:416px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_12 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:155px;
	height:13px;
	position:absolute;
	left:73px;
	top:497px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_13 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:140px;
	height:26px;
	position:absolute;
	left:73px;
	top:463px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_14 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:143px;
	height:13px;
	position:absolute;
	left:73px;
	top:438px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_15 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:76px;
	height:15px;
	position:absolute;
	left:94px;
	top:205px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_16 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:175px;
	height:130px;
	position:absolute;
	left:31px;
	top:238px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_54 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:139px;
	height:15px;
	position:absolute;
	left:36px;
	top:707px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_55 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:173px;
	height:52px;
	position:absolute;
	left:36px;
	top:730px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_56 { 
	color:rgba(108.37500303983688, 108.37500303983688, 108.37500303983688, 1);
	opacity:1;
	width:241px;
	height:25px;
	position:absolute;
	left:354px;
	top:45px;
	font-family:Roboto;
	text-align:justified;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_57 { 
	color:rgba(157.5141942501068, 34.00984704494476, 233.21044921875, 1);
	opacity:1;
	width:171px;
	height:16px;
	position:absolute;
	left:325px;
	top:102px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_59 { 
	color:rgba(157.5141942501068, 34.00984704494476, 233.21044921875, 1);
	opacity:1;
	width:171px;
	height:15px;
	position:absolute;
	left:325px;
	top:223px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_60 { 
	color:rgba(157.5141942501068, 34.00984704494476, 233.21044921875, 1);
	opacity:1;
	width:171px;
	height:15px;
	position:absolute;
	left:325px;
	top:389px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_61 { 
	color:rgba(157.5141942501068, 34.00984704494476, 233.21044921875, 1);
	opacity:1;
	width:217px;
	height:15px;
	position:absolute;
	left:325px;
	top:663px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_63 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:213px;
	height:24px;
	position:absolute;
	left:325px;
	top:723px;
	font-family:Roboto;
	text-align:justified;
	font-size:10px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_68 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:90px;
	height:13px;
	position:absolute;
	left:325px;
	top:702px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_64 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:213px;
	height:24px;
	position:absolute;
	left:325px;
	top:789px;
	font-family:Roboto;
	text-align:justified;
	font-size:10px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_67 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:82px;
	height:13px;
	position:absolute;
	left:325px;
	top:769px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_69 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:266px;
	height:52px;
	position:absolute;
	left:325px;
	top:618px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_70 { 
	color:rgba(72.00000330805779, 148.000006377697, 235.0000011920929, 1);
	opacity:1;
	width:176px;
	height:13px;
	position:absolute;
	left:325px;
	top:599px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_71 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:266px;
	height:35px;
	position:absolute;
	left:326px;
	top:438px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_72 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:266px;
	height:26px;
	position:absolute;
	left:325px;
	top:498px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_73 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:242px;
	height:39px;
	position:absolute;
	left:326px;
	top:551px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_75 { 
	color:rgba(72.00000330805779, 148.000006377697, 235.0000011920929, 1);
	opacity:1;
	width:211px;
	height:13px;
	position:absolute;
	left:325px;
	top:417px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_76 { 
	color:rgba(72.00000330805779, 148.000006377697, 235.0000011920929, 1);
	opacity:1;
	width:175px;
	height:13px;
	position:absolute;
	left:326px;
	top:476px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_77 { 
	color:rgba(72.00000330805779, 148.000006377697, 235.0000011920929, 1);
	opacity:1;
	width:161px;
	height:13px;
	position:absolute;
	left:326px;
	top:532px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_78 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:248px;
	height:94px;
	position:absolute;
	left:324px;
	top:287px;
	font-family:Roboto;
	text-align:justified;
	font-size:10px;
	letter-spacing:0;
	line-height:undefined;
}
#e5_5 { 
	color:rgba(8.515403866767883, 116.84591889381409, 190.04224240779877, 1);
	opacity:1;
	width:38px;
	height:13px;
	position:absolute;
	left:324px;
	top:269px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e5_3 { 
	color:rgba(125.10156869888306, 125.59726729989052, 127.3547337949276, 1);
	opacity:1;
	width:35px;
	height:13px;
	position:absolute;
	left:325px;
	top:251px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e5_6 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:26px;
	position:absolute;
	left:324px;
	top:139px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e5_8 { 
	color:rgba(125.10156869888306, 125.59726729989052, 127.3547337949276, 1);
	opacity:1;
	width:38px;
	height:13px;
	position:absolute;
	left:325px;
	top:123px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e5_7 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:306px;
	height:26px;
	position:absolute;
	left:324px;
	top:190px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e5_9 { 
	color:rgba(125.10156869888306, 125.59726729989052, 127.3547337949276, 1);
	opacity:1;
	width:125px;
	height:13px;
	position:absolute;
	left:324px;
	top:173px;
	font-family:Roboto;
	text-align:justified;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}

#contenedor {

width: 625px; 
margin: 0 auto; 

}
